[Desktop Entry]
Name=Pilas Engine (tutoriales)
Comment=Tutoriales interactivos de pilas-engine
Exec=/usr/bin/pilas-tutoriales
Terminal=false
Type=Application
Categories=GNOME;GTK;Huayra;Development;
Icon=/usr/share/pixmaps/pilasengine-icono.png
